{erl_opts, [debug_info, {src_dirs, ["test"]}]}.

{lfe_first_files, ["src/lsci-util.lfe"]}.

{deps_dir, ["deps"]}.

{eunit_compile_opts, [
   {src_dirs, ["test"]}
  ]}.

{deps, [
   {py, ".*", {git, "git://github.com/lfex/py.git", {tag, "0.0.4"}}},
   {encurses, ".*", {git, "git://github.com/jzellner/encurses.git", "master"}}
  ]}.
